page-home {

}

[col-6]
{
	padding-left:55px;
	padding-right:55px;
}
.list-md .item-input:last-child
{
	border-bottom:0px;
}
.text-input-md,.label-md
{
	margin:0px;
}

.item-md
{
	font-size:1.5rem;
	padding-left:0px;
}
.item-block
{
	min-height:3rem;
}
.select-md
{
	padding:0;
	padding-right: 10px;
	width:calc( 100% - 150px);
	max-width:unset;
}
.label-md
{
	width:150px;
}
.item.item-md .checkbox-md
{
	margin-right:20px;
}
.focus-outline :focus
{
	outline:none;
}
